html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #212424;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  color: #eeeeee;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
}

.chart {
  width: 800px;
  height: 400px;
}